## Variables de entorno para el proyecto

## Cadena de conexión a la base de datos MongoDB
CONNECTION_STRING=mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority
# username: Nombre de usuario para la base de datos MongoDB
# password: Contraseña para la base de datos MongoDB
# dbname: Nombre de la base de datos a la que se desea conectar

## Endpoint de la API RestCountries para obtener la información de los países de América:
API_ENDPOINT=https://api.restcountries.com/countries/v5?region=Americas&limit=100

## API Token para autenticación de la API:
BEARER_API_TOKEN=<your_api_token>
# your_api_token: El token de API utilizado para autenticarse con la API

## Puerto en el que se ejecutará la aplicación:
PORT=3000
# el puerto en el que la aplicación escuchará las solicitudes entrantes. Puedes cambiarlo según tus necesidades.

