<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/573a657a64.js" crossorigin="anonymous"></script>
    
    <!-- Nunito Sans Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

    <title><%= title %></title>
</head>
<body class="text-lg">
    <%- include('partials/header') %>

    <main class="main-content">
        <%- body %>
    </main>

    <%- include('partials/footer') %>

    <script type="module" src="/js/limpiarUlr.js"></script>
    <script type="module" src="/js/rowCollapse.js"></script>
    <script type="module" src="/js/drowpdownFlags.js"></script>
    <script type="module" src="/js/confirmDelete.js"></script>
</body>
</html>