@import "tailwindcss";

:root {
	--bg: #13171B;
	--bg-light: #26292c;
	--bg-sec: #495975;
	--border: oklch(37.2% 0.044 257.287);
	

	--text-primary: oklch(96.7% 0.003 264.542);
	--text-secondary: oklch(87.2% 0.01 258.338);

	--clr-light: #95A3D8;
	--clr-base: #6E7FC4;
	--clr-dark: #A8A5FF;

	--accent: #c96a2a;
	--accent-light: #f5ede5;
	--accent-hover: #a8561f;

	--danger: #c0392b;
	--danger-light: #fdf2f1;

	--success: #2d7a4f;
	--success-light: #f0f7f3;

	--info: #2563a8;
	--info-light: #eff5fd;

	--main-font: "Nunito Sans";
	--font-sans: "Geist", -apple-system, BlinkMacSystemFont, sans-serif;
	--font-mono: "Geist Mono", "Courier New", monospace;

	--transition: 0.3s all ease;
}

body {
	font-family: var(--main-font);
	background: var(--bg);
	color: var(--text-primary);
	line-height: 1.6;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}

.main-content {
	width: 60%;
	margin: 0 auto;
}

table thead th {
	text-align: left;
	font-size: .875rem;
	color: var(--text-secondary);
	padding: .975rem 0.5rem;
	border-bottom: 1px solid var(--border);
}

table tbody tr.rowmain td,
table tfoot tr td {
	padding: .975rem 0.5rem;
}

.detail-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 12px;
}

.detail-item label {
	font-size: 1rem;
	color: var(--text-secondary);
	display: block;
	margin-bottom: 3px;
}

.detail-item span {
	font-size: 13px;
	font-weight: 500;
}

.detail-inner {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 20px;
}

.detail-inner.open {
	max-height: 300px;
	padding: 16px 20px;
}

.detail-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

.detail-item label {
  font-size: 12px;
  color: var(--text-secondary);
  display: block;
  margin-bottom: 3px;
}

.detail-item span {
  font-size: 14px;
  font-weight: 500;
}

.chevron {
  display: inline-block;
  transition: transform 0.25s ease;
}

.chevron.open {
  transform: rotate(180deg);
}

.btn {
	padding: 0.625rem .875rem;
	border-radius: 6px;
	font-size: 14px;
}

.btn--primary {
	color: var(--text-primary);
	background-color: var(--accent);
}

.btn--primary:hover {
	transition: var(--transition);
	background-color: var(--accent-hover);
}

.btn--delete {
	color: var(--text-secondary);
	transition: var(--transition);
}

.btn--delete:hover {
	color: var(--danger);
}