<footer class="text-sm bg-(--bg-sec) border-t border-(--border) mt-4">
    <div class="w-[60%] mx-auto py-4 text-center">
        <div class="mb-2">
            <span>GeoPanel &copy; <%= new Date().getFullYear() %></span>
            <span class="sep">·</span>
            <span>
                Proyecto Final Módulo Backend - Nodo Técnologico Catamarca - by
                Alexander Maidana
            </span>
        </div>
        <div>
            <!-- github icon -->
            <span class="github-icon">
            </span>
            <!-- github link project  -->
            <span>
                <a
                    href="https://github.com/alxxmaidana/ProyectoFinalModulo3"
                    target="_blank"
                    >Repositorio del Proyecto</a
                >
            </span>
        </div>
    </div>
</footer>
