<header class="w-full mb-8">
    <div class="w-[70%] mx-auto flex justify-between items-center py-2">
        <a href="<%= prefijo %>" class="text-xl">
            <span class="font-2xl">◈</span>
            <span>GeoPanel</span>
        </a>
        <nav class="flex gap-6">
            <a href="<%= prefijo %>" class="nav-link">Ir al Dashboard</a>
            <a href="<%= prefijo %>/crear" class="nav-link nav-link--cta">
                + Crear País
            </a>
        </nav>
    </div>
</header>
