<header class="navbar">
    <div class="navbar-inner">
        <a href="/paises" class="navbar-brand">
            <span class="brand-icon">◈</span>
            <span class="brand-name">GeoPanel</span>
        </a>
        <nav class="navbar-nav">
            <a href="/paises/" class="nav-link">Ir al Dashboard</a>
            <a href="/paises/agregar" class="nav-link nav-link--cta">
                + Agregar País
            </a>
        </nav>
    </div>
</header>
